.left {
    float: left;
    width: 50%;
    height: auto;
}

.title {
    float: left;
    font-size: 200%;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
}

.title_block {
    width: 100%;
    float: left;
}

.title_back {
    display: inline-block;
    width: 60%;
    height: 25px;
    margin-top: 10px;
}

input.string {
    width: 70%;
    height: 85%;
}

input {
    float: left;
    border: 1px solid black;
}

.search {
    background-color: rgba(224, 183, 135, 0.8);
    border-radius: 4px;
    height: 100%;
    cursor: pointer;
}

.blank {
    display: inline-block;
    width: 100%;
    height: 1px;
}

.item {
    display: inline-block;
    width: 100%;
}

.caption {
    font-weight: bold;
    display: inline-block;
    font-size: 150%;
    width: 100%;
    line-height: 30px;
    text-align: center;
    background-color: rgba(246, 218, 124, 0.8);
}

.item_left {
    float: left;
    width: 40%;
}

.item_right {
    float: right;
    width: 55%;
    overflow: auto;
    height: 350px;
    display: block;
}

.item_att {
    width: 100%;
    height: 30px;
}

label {
    text-align: center;
    float: left;
    line-height: 30px;
    width: 30%;
    background-color: rgba(249, 156, 150);
    border: 1px solid black;
}

label.info {
    width: 100%;
}

.att_type_str {
    height: 32px;
    width: 66%;
    border: 1px solid black;
    font-size: 105%;
}

.att_str {
    height: 28px;
    width: 65%;
    border: 1px solid black;
    font-size: 105%;
}

.att_pic_str {
    height: 28px;
    width: 40%;
    border: 1px solid black;
    font-size: 105%;
}

.att_info_str {
    width: 99%;
    height: 80px;
    border: 1px solid black;
    font-size: 150%;
    resize: none;
}

.upload {
    text-align: center;
    background-color: rgba(224, 183, 135, 0.8);
    border-radius: 4px;
    height: 30px;
    width: 27%;
    cursor: pointer;
}

.item_add {
    cursor: pointer;
    text-align: center;
    float: right;
    background-color: rgba(224, 183, 135, 0.8);
    border-radius: 4px;
    height: 30px;
    width: 45%;
}

.item_type_search {
    background-color: rgba(249, 156, 150);
    border: 1px solid black;
    font-size: 105%;
    height: 32px;
    width: 100%;
    font-weight: bold;
}

.clickable {
    color: rgba(46, 163, 229, 1.0);
}

.clickable:hover {
    color: navy;
    cursor: pointer;
}

.sandwich {
    background-color: rgba(255, 255, 114, 0.8);
}

.dessert {
    background-color: rgba(148, 220, 250, 0.8);
}

.drink {
    background-color: rgba(184, 255, 78, 0.8);
}

.tbody {
    width: 100%;
    overflow: auto;
    max-height: 200px;
}